<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="70214048-0A3E-48E9-A95B-199D9B376CC3" Language="1033"
                Manufacturer="Bob -- K6RWY" Name="GitPrep"
                Version="!(bind.fileVersion.GitPrep.cmp)"
                >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                Manufacturer="Bob -- K6RWY" Description="Installs GitPrep"
                Comments="Copyright (c) Bob -- K6RWY"
                />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                />

  <MediaTemplate EmbedCab="yes" />

  <WixVariable Id="WixUILicenseRtf"
                              Value="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" />
  <UI Id="My_InstallDir.ui"><UIRef Id="WixUI_InstallDir" /></UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="GitPrep_Icon.exe" SourceFile="$(var.SolutionDir)..\GitPrep.prj\res\GitPrep.ico"/>
  <Icon     Id="MITLicense_Icon.exe"
                              SourceFile="$(var.SolutionDir)..\..\Library\License\MITLicense.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="GitPrep_Icon.exe" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="GitPrep.ftr"/>
    <ComponentGroupRef Id="MITLicense.ftr"/>
    <ComponentGroupRef Id="Uninstall_GitPrep.ftr"/>
  </Feature>
</Product>

<Fragment>
  <ComponentGroup Id="GitPrep.ftr">
    <ComponentRef Id="GitPrep.cmp"/>
    <ComponentRef Id="Help.cmp"/>
  </ComponentGroup>
  <ComponentGroup Id="MITLicense.ftr">
    <ComponentRef Id="MIT_License.cmp"/>
  </ComponentGroup>
  <ComponentGroup Id="Uninstall_GitPrep.ftr">
    <ComponentRef Id="Uninstall_GitPrep.cmp"/>
  </ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="GITPREP.PFF" Name="GitPrep">
        <Directory Id="GitPrep_License.pff" Name="License" />
      </Directory>
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="GitPrep.pmf" Name="GitPrep" />
    </Directory>

    <Directory Id="DesktopFolder" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="GitPrep" />
  <Property Id="WIXUI_INSTALLDIR"      Value="GITPREP.PFF"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>
  <Component Id="GitPrep.cmp" Guid="D3C9F1CF-CE3E-4CDC-AF21-7AD8D02CB372" Directory="GITPREP.PFF">
    <File Id="GitPrep.cmp" Source="$(var.SolutionDir)..\Release\GitPrep.exe" KeyPath="yes"/>

    <Shortcut Id               = "GitPrep.shc"
              Name             = "GitPrep"
              Description      = "Prepare Git Submission for Upload"
              Advertise        = "yes"
              Directory        = "GitPrep.pmf"
              WorkingDirectory = "GITPREP.PFF"
              Icon             = "GitPrep_Icon.exe"
              />

    <Shortcut Id               = "GitPrep.dsk"
              Name             = "GitPrep"
              Description      = "Prepare Git Submission for Upload"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "GITPREP.PFF"
              Icon             = "GitPrep_Icon.exe"
              />
  </Component>

  <Component Id="Help.cmp" Guid="732716AC-5E56-40EA-9C82-C25889C0B21D" Directory="GITPREP.PFF">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\GitPrep.chm" KeyPath="yes"/>
  </Component>
</Fragment>

<Fragment>
  <Component Id="MIT_License.cmp" Guid="1AC66DF1-8023-4C39-9843-A412EDAA619E"
                                                                   Directory="GitPrep_License.pff">
    <File Id="MIT_License.cmp"
                Source="$(var.SolutionDir)..\..\Library\License\MITLicenseFile.rtf" KeyPath="yes"/>

    <Shortcut Id               = "MITLicense.shc"
              Name             = "MIT License"
              Advertise        = "yes"
              Directory        = "GitPrep.pmf"
              WorkingDirectory = "GitPrep_License.pff"
              Icon             = "MITLicense_Icon.exe"
              />
  </Component>
</Fragment>

<Fragment>
  <Component Id="Uninstall_GitPrep.cmp" Guid="C9CC9AC1-3196-441A-915E-5D41ADF608F6"
                                                                           Directory="GitPrep.pmf">

    <Shortcut Id               = "UninstallGitPrep.shc"
              Name             = "Uninstall GitPrep"
              Description      = "Uninstalls GitPrep"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "GitPrep_Icon.exe"
              />
    <RemoveFolder Id="GitPrep.uni" Directory="GitPrep.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_GitPrep.cmp"
                                          Name="installed" Type="integer" Value="1" KeyPath="yes"/>
  </Component>
</Fragment>
</Wix>
